.login-card {
  min-width: 250px;
  // max-width: 450px;
  align-items: center;
  display: block;
  justify-content: center;
}

.dash {
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 8px;
  align-items: center;
  justify-content: center;
  // display: block;
}
