<mat-toolbar color="primary">
   <span>House : {{house?.name}}</span>
   <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>face</mat-icon>
      <span>{{username}}</span>
    </button>
    <button mat-menu-item *ngIf="isAdmin" (click)="goToAdmin()">
      <mat-icon>home</mat-icon>
      <span>AdminDash</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>login</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
 </mat-toolbar>