<app-admintoolbar></app-admintoolbar>
<div class="dash">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="bill-tab-icon">attach_money</mat-icon>
                Rent
            </ng-template>
            <app-rent></app-rent>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="bill-tab-icon">list_alt</mat-icon>
                History
            </ng-template>
            <app-history></app-history>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="bill-tab-icon">home</mat-icon>
                Houses
            </ng-template>
            <app-house></app-house>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="bill-tab-icon">supervisor_account</mat-icon>
                User Registration
            </ng-template>
            <app-reguser></app-reguser>
        </mat-tab>
    </mat-tab-group>
</div>