.login-card {
  max-width: 250px;
  margin-top: 8px;
  /*  not needed styles to reflect it */
//   background: blue;
//   padding: 10px;
//   color: white;
//   width: 500px;

  /* needed styles below */
//   display: flex;
//   justify-content: space-between;
}

.dash {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}
